<div>
    <label for="username">Username:</label>
    <input #email name="username" id="username" (keyup)="onKey('email', email.value)">
    <br>
    <label for="password">Password:</label>
    <input #password name="password" id="password" (keyup)="onKey('password', password.value)"> 
    <br>
    <app-submit-btn [email]="userEmail" [password]="userPassword"></app-submit-btn>
    <button (click)="onClick()">USER</button>
    <br>
    <div *ngIf="afAuth.authState | async as user" class="logout">
        <p>
            Logged in as <strong>{{ user.email }}</strong>
        </p>
    
        <button mat-raised-button color="accent" (click)="afAuth.signOut()">Logout</button>
    </div>
</div>